html{
    scroll-behavior: smooth!important;
}
body {  
  background-color: #000000!important;
  font-family: 'Poppins', sans-serif!important;
  color: #fefefe!important;
  background-image: url(/assets/img/cover-bg.png)!important ;
  background-repeat: no-repeat!important;
  position: relative;
}

/* Links-global */
a{    
    text-decoration: none!important;
    color : #E8E7E7!important;
} 

a:focus,
a:hover,
a:active {
    color: #FFD4FF!important;
}
main section,
main section section{
padding-top: 10vh;
}

.section-title{
    font-weight: 500;
}

.masthead{
    margin-bottom: 15vh;
}
.navbar, .home-container{
    box-shadow: none!important;
}

.navbar .nav-item .nav-link{
    font-size: 1rem;
    line-height: 1.5rem;
}
.navbar .nav-item .nav-link:active,
.navbar .nav-item .nav-link.active{
color:#aa66cc!important;
}

.navbar-brand{
    font-weight: bold;
    font-size: 1.33rem!important;
    line-height: 36px;    
    color: #FEFEFE!important;
letter-spacing: 0.5px;
}


.home-container{
    background: inherit;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex; justify-content: center;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    /* box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);     */
}


.side-nav{
    width:2.5rem;
    height:2.5rem;
    border: 1px #F4F4F4 solid;
    border-radius: 50%; 
    box-shadow: 0px 0px 2px #888;
}

.main-bodyText{
    padding: 0 1.5rem;
    max-width: 500px;
    margin-bottom: 20vh!important;
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
  }

.cover-leadText{
    font-size: 1.5rem!important;
    line-height: 2.25rem;
  
}
.side-nav-block{
    left: 90%
}




@media (max-width:602px){
    body{
        font-size: 12px!important;
        background-image: url(/assets/img/mobile-home.png)!important ;
    }
 
    #brand{
        display: none;
    }
   
    .home-container{
        max-width: 95%;
    }
    .side-nav{
        width:2rem;
        height:2rem;
    }

    .cover-leadText{
        font-size: 1rem!important;
        line-height: 1.5rem;    
        }

     .side-nav-block{
            left: 85%
        }
}


@media (max-width: 1200px){

 
 
    .body{
        font-size: 20px!important;
    }
}


@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: black!important;
    }
}

  
  .top-nav-collapse {
    background-color: black; }
  
  /* Adding color to the Navbar on mobile */
  @media only screen and (max-width: 768px) {
    .navbar {
      background-color: black; } }
  
