/*GENERAL STYLES*/

html {
  font-size: 18px;
}

body {
  font-family: "Work Sans", sans-serif;
}

/*HEADINGS*/
h1 {
  font-size: 5.333333rem;
}

h2 {
  font-size: 1.333333rem;
}

h3 {
  font-size: 0.777rem;
}

p {
  font-size: 1.5rem;
}

/* .navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

.nav-link a {
  color: #000;
}

.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* position: relative; */
}
.card-text {
  display: flex;
  /* position: absolute;
  top: 80px;
  left: 0; */
}
/* .carousel-inner > .carousel-item > img {
  min-height: 300px;
  max-height: 300px;
  width: 100%;
} */

.carousel-item {
  min-height: 280px;
}

button {
  /* padding: 10px 10px;
  border: 2px solid #006cff; */
  font-weight: 500;
}

.jumbotron {
  /* max-width: 700px; */
  background: url(assets/Frame5.png) no-repeat center;
  /* height: 500px; */
  color: #fff;
}

.hero p {
  font-size: 1rem;
}

.hero-text-box {
  padding-top: 100px;
  text-align: center;
  max-width: 500px;
  margin: auto;
}

.contact-me-btn {
  /* background: #006cff; */
}

.third-grid {
  display: flex;
}
.portfolio-card {
  width: 300px;
  height: 200px;
}

.portfolio-card .one {
  background: url(./assets/group\6png);
}
