/*GENERAL STYLES*/

html {
  font-size: 18px;
}

body {
  font-family: "Work Sans", sans-serif;
}

/*HEADINGS*/
h1 {
  /* font-size: 5.333333rem; */
  font-weight: 600;
}

h2 {
  font-size: 1.333333rem;
}

h3 {
  font-size: 0.777rem;
}

p {
  font-size: 1.5rem;
}

/* .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  } */

.nav-link a {
  color: #000;
}

.card-bottom-left {
  position: absolute;
  bottom: 20px;
  left: 30px;
}
.flex {
  display: flex;
}
.flex h3 {
  margin-left: 5px;
  align-self: flex-end;
}

.down-right {
  bottom: 20px;
  right: 30px;
  position: absolute;
}
/* .carousel-inner > .carousel-item > img {
    min-height: 300px;
    max-height: 300px;
    width: 100%;
  } */

.carousel-item {
  min-height: 280px;
}

button {
  /* padding: 10px 10px;
    border: 2px solid #006cff; */
  font-weight: 500;
}

.jumbotron {
  /* max-width: 700px; */
  background: url(assets/Frame5.png) no-repeat center;
  /* height: 500px; */
  color: #fff;
}

.hero p {
  font-size: 1rem;
}

.hero-text-box {
  padding-top: 100px;
  text-align: center;
  max-width: 500px;
  margin: auto;
}

.contact-me-btn {
  /* background: #006cff; */
}

.third-grid {
  display: flex;
}

.portfolio-card {
  position: relative;
  color: white;
}

.card-top-left {
  position: absolute;
  top: 60px;
  left: 30px;
}

/*MEDIA QUERIES*/
/* html {
    font-size: 1rem;
  }
  
  @imedia-breakp(sm) {
    html {
      font-size: 1.2rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 1.4rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 1.6rem;
    }
  } */

@media screen and (max-width: 767px) {
  h1 {
    font-size: 1rem;
  }
}
